@model IEnumerable<ERPfunction_MvcAjax.QueryModel.SHLCListViewModel>

@{
    ViewBag.Title = "審核作業";
}

<h2>審核階段報表</h2>
<hr />

<div class="well">
    <input type="button" class="btn btn-primary" value="匯出資料" id="ButtonExport" name="ButtonExport" />
</div>

<div class="well">
    @using (Html.BeginForm("Index", "SHLC", FormMethod.Post, new
    {
        @class = "form-horizontal",
        role = "form",
        id = "ReceiptList"
    }))
    {
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="col-lg-3 control-label">單據類型: </label>
                <div class="col-lg-8">
                    @Html.DropDownList("other", (IEnumerable<SelectListItem>)ViewData["TYPE_NAME"], "--選擇單據類型--", new { @id = "SearchString", @name = "SearchString", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label class="col-lg-3 control-label">單據編號: </label>
                <div class="col-lg-8">
                    <input id="SearchStringNo" name="SearchStringNo" type="text" value="" class="form-control" />
                </div>
            </div>
        </div>
        <span class="clearfix"></span>
        <div class="row">
            <div class="col-md-offset-5">
                <input type="button" class="btn btn-primary" value="查詢" id="btnSearch" name="btnSearch" />
                <span></span>
                <input type="reset" class="btn btn-default" value="清除" id="btnReset" name="btnReset" />
            </div>
        </div>
    }
</div>

<div id="InvoiceList">
    @Html.Partial("InvoiceList", Model)
</div>

@section scripts
{
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/RenderControlScript.js"></script>
    <script src="~/Scripts/project.js"></script>
    <script src="~/Scripts/project.extends.js"></script>
    <script src="~/Scripts/project.ZipCode.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var actionUrls = {
                Upload: '@Url.Action("Upload", "SHLC")',
                Import: '@Url.Action("Import", "SHLC")',
                HasData: '@Url.Action("HasData", "SHLC")'
            };
            project.ZipCode.Initialize(actionUrls);
        });
    </script>
}
